/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * airlandseaelliotr implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * airlandseaelliotr.css
 *
 * airlandseaelliotr stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (airlandseaelliotr_airlandseaelliotr.tpl), and to HTML elements you create dynamically
    (in airlandseaelliotr.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/


/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }
*/



.playertablecard {
    display: inline-block;
    position: relative;
    margin-top: 5px;
    width: 72px;
    height: 96px;
    /* background-image: url('img/cards.png'); temp hack to see it */
}


#theatres {
    /* height: 50%; */
    /* width: 75%; */
    height: 800px;
    /* border: 1px solid black; */
    display: flex;
    gap: 10px;
}

.theatre {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#theatre_picture_Air {
    background-position: 0px 0px;
}
#theatre_picture_Land {
    background-position: 50% 0px;
}
#theatre_picture_Sea {
    background-position: 100% 0px;
}

.theatre_picture {
    /* border: 1px solid black; */
    /* display: flex; */
    /* flex: 1; */
    width: 352px;
    height: 192px;
    background-image: url('img/theatres.png');
    /* width: 100%; */
}

.theatre_cards {
    /* border: 1px solid red; */
    flex: 1;
    width: 72px;
    /* align-items: center; */
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.theatre_cards_card {
    /* background-color: red; */
    /* height: 100%;
    width: 100%; */
    position: initial !important;
    background-image: url('img/cards.png');
    border: 1px solid black;
    /* position: relative; */
    width: 72px;
    height: 96px;
    
    /* display: flex; */

}

.stacked {
    margin-bottom: -75%;
}

.clickable {
    border: 2px solid red;
    cursor: pointer;
}

.selected {
    border: 2px solid red;
}